.env
video_harvester/*
docker-compose.yml.backup
docker-compose.old.yml
docker-compose.yml
issues
downloaded/*
__pycache__/*
old_files/*
venv/*
*.pyc
*.swp
*.swo
episode_db.*
geckodriver.log
shows.py
backup.main.py
before_split.py
redis_data
